@use "../../mixins";
@use "../../variables";

.user {
  @include mixins.page();
  @include mixins.d-flex(center, center, row);
  .userView {
    @include mixins.d-flex(center, flex-start, row);
    @include mixins.setTransBg();
    width: 100%;
    max-width: 720px;
    height: 420px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    perspective: 1000px;
    .userViewList {
      @include mixins.d-flex(flex-start, flex-start, column);
      gap: 0.5rem 0;
      flex-basis: 60%;
      height: 100%;
      overflow-y: scroll;
      padding: 1rem;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .userSettings {
      flex-basis: 40%;
      min-width: 300px;
      background-color: variables.$white;
      height: 100%;
      h2 {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        width: 100%;
        padding: 0.5rem;
        cursor: default;
      }
      .userSettingsInfo {
        padding: 1rem 1rem;
        margin-top: 1rem;
        border-top: 1px solid variables.$black;
        border-bottom: 1px solid variables.$black;
        p {
          @include mixins.d-flex(flex-start, space-between, row);
          font-size: 0.8rem;
          font-weight: 600;
          cursor: default;
        }
        span {
          text-align: right;
          font-size: .8rem;
          font-weight: 300;
        }
      }
    }
  }
}