@use "../../mixins";
@use "../../variables";

.plate {
  @include mixins.d-flex(center, flex-start, row);
  gap: 0 0.5rem;
  width: 100%;
  max-width: 320px;
  background-color: variables.$grey;
  margin: 0.5rem 0;
  border-radius: 10px;
  overflow: hidden;
  .plateImage {
    @include mixins.d-flex(center, center, row);
    aspect-ratio: 1/1;
    // border-right: 1px solid variables.$black;
    img {
      object-fit: cover;
    }
  }
  .plateInfoNoImage {
    @include mixins.d-flex(flex-start, flex-start, column);
    height: 100%;
    padding: 0.5rem;
    .plateDesc {
      width: 300px;
      inline-size: 300px;
    }
  }
  .plateInfo {
    @include mixins.d-flex(flex-start, flex-start, column);
    height: 100%;
    padding: 0.5rem 0;
    .plateDesc {
      width: 200px;
      inline-size: 200px;
    }
    .platePrice {
      margin-left: auto;
    }
  }
  .plateInfo,
  .plateInfoNoImage {
    p {
      cursor: default;
    }
    .plateName {
      font-size: 1.1rem;
      font-weight: 900;
      margin-bottom: 0.3rem;
    }
    .plateDesc {
      font-size: 0.8rem;
      font-weight: 300;
      overflow-wrap: break-word;
      height: 2.4rem;
      line-height: 0.8rem;
      overflow-y: hidden;
    }
    .platePrice {
      font-weight: 900;
      font-size: 1rem;
      margin-top: 0.2rem;
    }
  }
}

.plateView,
.plateViewNoImage {
  .imageCont {
    display: flex;
    height: 100%;
    img {
      object-fit: cover;
      padding: 0;
      margin: 0;
    }
  }
  .infoDiv {
    @include mixins.d-flex(flex-start, flex-start, column);
    height: 100%;
    .infoDivName {
      font-size: 1.1rem;
      font-weight: 900;
      text-transform: capitalize;
      padding: 0.3rem 0;
      cursor: default;
    }
    .infoDivGarnet {
      font-size: 0.7rem;
      font-weight: 500;
      margin-bottom: 0.3rem;
      height: 0.8rem;
      line-height: 0.8rem;
      overflow-y: hidden;
      cursor: default;
    }
    .infoDivDesc {
      font-size: 0.7rem;
      font-weight: 300;
      overflow-wrap: break-word;
      height: 2.4rem;
      line-height: 0.8rem;
      overflow-y: hidden;
      cursor: default;
    }
    .infoDivPrice {
      font-size: 0.9rem;
      font-weight: 900;
      margin-top: auto;
      margin-bottom: 0.3rem;
      cursor: default;
    }
  }
}

.plateView {
  @include mixins.d-flex(center, flex-start, row);
  gap: 0 0.5rem;
  width: 100%;
  padding: 0;
  height: 130px;
  background-color: variables.$grey;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  @include mixins.shadowSimple();
}

.plateViewNoImage {
  @include mixins.d-flex(center, flex-start, row);
  gap: 0 0.5rem;
  width: 100%;
  height: fit-content;
  background-color: variables.$grey;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  @include mixins.shadowSimple();
}

.plateNoImage,
.plateWithImage {
  border-radius: 5px;
  background-color: variables.$white;
  padding: 0.5rem;
  width: 100%;
  max-width: variables.$max_plate_width;
  cursor: default;
  position: relative;
  // overflow: hidden;
  .imageBackface {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(0px) opacity(0.3) grayscale(0.4);
    background-position: center;
    border-radius: 5px;
  }
  p {
    @include mixins.d-flex(center, flex-start, row);
    gap: 0 0.5rem;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 900;
    padding-bottom: 0.4rem;
    position: relative;
    cursor: default;
    &::before {
      content: "";
      position: absolute;
      top: 85%;
      left: 0;
      width: 90%;
      height: 1px;
      background-color: rgba($color: variables.$black, $alpha: 0.4);
    }
  }
  span {
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: default;
  }
  .platePrice {
    font-size: 0.8rem;
    font-weight: 900;
    margin-top: 0.4rem;
    cursor: default;
  }
}

.plateClient {
  border-radius: 5px;
  background-color: variables.$white;
  padding: 0.5rem;
  width: 100%;
  // border: 1px solid variables.$black;
  max-width: variables.$max_plate_width;
  p {
    @include mixins.d-flex(center, flex-start, row);
    gap: 0 0.5rem;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 900;
    padding-bottom: 0.4rem;
    position: relative;
    cursor: default;
    &::before {
      content: "";
      position: absolute;
      top: 85%;
      left: 0;
      width: 90%;
      height: 1px;
      background-color: rgba($color: variables.$black, $alpha: 0.4);
    }
  }
  span {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    cursor: default;
  }
  .platePrice {
    font-size: 0.8rem;
    font-weight: 900;
    margin-top: 0.4rem;
    cursor: default;
  }
}

.plateClientImage,
.plateClientImage_right {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  gap: 0 0.5rem;
  border-radius: 5px;
  background-color: variables.$white;
  width: 100%;
  max-width: variables.$max_plate_width;
  position: relative;
  overflow: hidden;
  cursor: default;
  // border: 1px solid variables.$black;
  .plateClientImage_imgbox {
    @include mixins.d-flex(center, center, row);
    width: 100%;
    // max-width: 120px;
    position: relative;
    // height: 120px;
  }
  .imageBackface {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(0px) opacity(0.4) grayscale(0.4);
    background-position: center;
    border-radius: 5px;
  }
  .infoDiv {
    // @include mixins.d-flex(flex-start, flex-start, column);
    padding: .5rem;
    height: 100%;
  }
  p {
    @include mixins.d-flex(center, flex-start, row);
    gap: 0 0.5rem;
    width: fit-content;
    font-size: 1.1rem;
    font-weight: 900;
    padding-bottom: 0.4rem;
    position: relative;
    cursor: default;
    &::before {
      content: "";
      position: absolute;
      top: 85%;
      left: 0;
      width: 90%;
      height: 1px;
      background-color: rgba($color: variables.$black, $alpha: 0.4);
    }
  }
  span {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    cursor: default;
  }
  .platePrice {
    font-size: 0.8rem;
    font-weight: 900;
    margin-top: auto;
    cursor: default;
  }
}

.plateClientImage_right {
  grid-template-columns: 80% 20%;
  .infoDiv {
    @include mixins.d-flex(flex-end, flex-start, column);
  }
  p {
    margin-right: auto;
  }
  span {
    text-align: left !important;
    margin-right: auto;
  }
}

.plateClientImage {
  grid-template-columns: 20% 80%;
  .infoDiv {
    @include mixins.d-flex(flex-start, flex-start, column);
  }
}

@media screen and (max-width: 600px) {
  .plateClientImage {
    grid-template-columns: 30% 70% !important;
  }
  .plateClientImage_right {
    grid-template-columns: 70% 30% !important;
  }
}

@media screen and (max-width: 420px) {
  .plateClientImage {
    grid-template-columns: 40% 60% !important;
  }
  .plateClientImage_right {
    grid-template-columns: 60% 40% !important;
  }
}
